<div class="gallery-container">
    
    <div class="section-heading-container">
    <h2>Creative Roots & Past Projects</h2>
    <p>I’ve been designing long before UX—logos, branding, photography, and more. Consider this my creative mixtape.</p>
</div>

    <div class="gallery-grid">
        <!-- Image 1 -->
        <div class="gallery-item">
            <img src="images/playsport-zero-states.jpg" alt="Gallery Image 1">
        </div>

        <!-- Image 2 -->
        <div class="gallery-item">
            <img src="images/elton-john-logo.jpg" alt="Gallery Image 2">
        </div>

    </div>
</div>
