<div class="testimonials-container">
  <h2>
    Here are some kind words<br />
    from those I've worked with.<br />
    Aren't they sweet? 🥺
  </h2>

  <div class="testimonials">
    <!-- Testimonial 1 -->
    <div class="testimonial">
      <p class="testimonial-text">
        Ed is an incredibly talented designer that I have had the pleasure of
        working with. He thinks laterally across creative and strategic
        direction, and brings unique initiatives to the team. He delivers work
        efficiently to a high standard, and is an effective listener and
        question asker. I would love to work with Ed again!
      </p>
      <div class="testimonial-info">
        <img
          src="images/avatar.jpg"
          alt="Tom Brown"
          class="testimonial-image"
        />
        <div class="testimonial-details">
          <p class="testimonial-name">Bella Jagger</p>
          <p class="testimonial-role">Client Partner @ Reddit</p>
        </div>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="testimonial">
      <p class="testimonial-text">
        Ed is a rare talent. He is a world class designer, with a great business
        mind that understands UX deeply. He is hard working, trustworthy and
        gets along with everyone. If I was starting a new company he would be
        one of the first people I would hire.
      </p>
      <div class="testimonial-info">
        <img
          src="images/avatar.jpg"
          alt="Sarah Johnson"
          class="testimonial-image"
        />
        <div class="testimonial-details">
          <p class="testimonial-name">Jason Allan</p>
          <p class="testimonial-role">Senior Product Marketing Manager</p>
        </div>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="testimonial">
      <p class="testimonial-text">
        Ed has an exceptional eye for UI and Visual Design. His approach is
        founded on sound design principles and he always brings new learnings to
        the table. His work is progressive, relatable, inspiring and always
        empathetic to the end user's visual experience.
      </p>
      <div class="testimonial-info">
        <img
          src="images/avatar.jpg"
          alt="James Wilson"
          class="testimonial-image"
        />
        <div class="testimonial-details">
          <p class="testimonial-name">Chris George</p>
          <p class="testimonial-role">Product Manager @ Uptick</p>
        </div>
      </div>
    </div>
  </div>
</div>
