<div class="ux-case-studies-container">
  <div class="section-heading-container">
    <h2>UX Case Studies</h2>
    <p>Case studies, UX thinking, and the work that pays the bills.</p>
  </div>

  <div class="ux-case-studies-grid">
    <!-- Case Study 1 -->
    <a href="case-study.html?case=planner" class="case-study-card">
      <img src="images/inquisitive-cover.jpg" alt="Inquisitive">
      <div class="case-study-info">
          <h3>Inquisitive</h3>
          <p>How I optimized an e-learning platform for better engagement.</p>
      </div>
  </a>
  
  <a href="case-study.html?case=playsport" class="case-study-card">
      <img src="images/playsport-cover.jpg" alt="PlaySport">
      <div class="case-study-info">
          <h3>PlaySport</h3>
          <p>Revamping the PlaySport platform for better usability.</p>
      </div>
  </a>
  
  </div>
</div>
