<div class="ux-case-studies-container">
  <div class="section-heading-container">
    <h2>UX Case Studies</h2>
    <p>Case studies, UX thinking, and the work that pays the bills.</p>
  </div>

  <div class="ux-case-studies-grid">
    <!-- Case Study 1 -->
    <a href="#" class="case-study-card">
      <img src="images/inquisitive-cover.jpg" alt="Inquisitive" />
      <div class="case-study-info">
        <h3>Inquisitive</h3>
        <p>
          How I optimized an e-commerce checkout experience to reduce drop-off
          rates by 30%.
        </p>
      </div>
    </a>

    <!-- Case Study 1 -->
    <a href="#" class="case-study-card">
      <img src="images/playsport-cover.jpg" alt="Case Study 1" />
      <div class="case-study-info">
        <h3>PlaySport</h3>
        <p>
          How I optimized an e-commerce checkout experience to reduce drop-off
          rates by 30%.
        </p>
      </div>
    </a>
  </div>
</div>
