* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
  color: white; /* Ensures the <ul> takes the height of its items */
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  transition: background-color 0.3s;
}

/* Highlight active page */
.navbar ul li a.active {
  color: #DBFC56;
  border-radius: 8px;
}
